parameters:
  level: 8
  paths:
    - "./src"
    - "./tests"
  ignoreErrors:
    - '#Call to an undefined method object::getTable\(\).#'
    - '#Cannot call method has\(\) on array|Illuminate\\Http\\Request\|string\|null.#'
    - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder|Illuminate\\Database\\Query\\Builder::getRelation\(\).#'
    - '#Call to an undefined static method SDamian\\Tests\\Larasort\\Fixtures\\Models\\Customer::count\(\)#'
    - '#Call to an undefined static method SDamian\\Tests\\Larasort\\Fixtures\\Models\\Customer::select\(\)#'
    - '#Call to an undefined static method SDamian\\Tests\\Larasort\\Relations\\OneToOne_OneToMany\\Fixtures\\Models\\(.*)::find\(\)#'
    - '#Call to an undefined static method SDamian\\Tests\\Larasort\\Relations\\OneToOne_OneToMany\\Fixtures\\Models\\(.*)::count\(\)#'
    - '#Call to an undefined static method SDamian\\Tests\\Larasort\\Relations\\OneToOne_OneToMany\\Fixtures\\Models\\(.*)::select\(\)#'
    - '#Call to an undefined static method SDamian\\Tests\\Larasort\\Relations\\OneToOne_OneToMany\\Fixtures\\Models\\(.*)::autosortWith\(\)#'
    # From PHP 8.2 :
    #- '#Access to an undefined property SDamian\\Tests\\Larasort\\Fixtures\\Models\\(.*)::\$sortablesAs.#'
    #- '#Access to an undefined property SDamian\\Tests\\Larasort\\Fixtures\\Models\\(.*)::\$sortablesRelated.#'
    #- '#SDamian\\Tests\\Larasort\\Relations\\OneToOne_OneToMany\\Fixtures\\Models\\(.*)::\$sortablesAs.#'
    #- "Call to function property_exists() with $this(SDamian\Tests\Larasort\Relations\OneToOne_OneToMany\Fixtures\Models\User) and 'sortablesToTables' will always evaluate to false.#"
