parameters:
  level: 8
  paths:
    - "../../src"
    - "../../tests"
  ignoreErrors:
    - '#Cannot call method has\(\) on array|Illuminate\\Http\\Request\|string\|null.#'
    - '#Call to an undefined static method SDamian\\Tests\\Larasort\\Fixtures\\Models\\Customer::count\(\)#'
    - '#Call to an undefined static method SDamian\\Tests\\Larasort\\Fixtures\\Models\\Customer::select\(\)#'
